<h3 class="text-primary text-center mb-5 mt-5">  contacts App!</h3>
<div class="container">
  <button><a href="addcontact">Add contacts </a></button>

    <table class="table table-dark">
      
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Phone Number</th>
          </tr>
      
          <tr *ngFor ="let contact of contacts">
            <td>{{contact.first_name}}</td>
            <td>{{contact.last_name}}</td>
            <td>{{contact.phone}}</td>
          </tr>
       
      </table>
</div>