
  <div class="container mt-5" >
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success</strong> You contact is added successfully!
      <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="addcontact" (ngSubmit)="getValues()">
        <h3 class="text-center text-primary" >  Create New Contact</h3>
        <div class="form-group">
          <label >First Name</label>
          <input type="text" class="form-control"  formControlName="first_name" >
          
        </div>
        <div class="form-group">
          <label >Last name</label>
          <input type="text" class="form-control"  formControlName="last_name">
        </div>
        <div class="form-group">
            <label>Phone number</label>
            <input type="text" class="form-control" formControlName="phone" >
          </div>
        
        <button type="submit" class="btn btn-primary">Add Contact</button>

        <a href="showcontact" class="btn btn-primary m-4 ">Show contacts </a>

      </form>
</div>